.section-title {
  margin: 0 auto;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* position: relative; добавил, чтобы работал z-index. Если убрать оба
значения, что при уменьшении экрана, треугольник вращается поверх заголовка. */
