.section-subtitle {
  padding: 0;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* position: relative; добавил, чтобы работал z-index. Если убрать оба
значения, что при уменьшении экрана, треугольник вращается поверх подзаголовка.
(хотя, так тоже выглядит интересно :) как будто подзаголовок на удалённом расстоянии) */
